<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>  
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css"> 
    <link rel="stylesheet" type="text/css" th:href="@{../style.css}" />
</head>
<body>
    <center><div class="maindiv">
        <h1 style="color:red;">ERROR!</h1>
        <h1 style="color:red;">Unfortunately, your job application could not be saved!</h1>
        <p>It is probably because the name of the file you have uploaded clashed with another resumé file name.</p>
        <p><b>Please consider adding some random numbers after your name and surname (example: "namesurname12345_3.pdf").</b></p> 
        <p><a href="/user-alljobs" class="ui button">Return to job listings page</a></p> 
    </div></center>
</body>
</html>