<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>  
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css"> 
    <link rel="stylesheet" type="text/css" th:href="@{style.css}" />
</head>
<body>
    <center><div class="maindiv">
        <h1>Welcome!</h1>
        <p>You are now using KodGemisi Job Application Interface,<br> you can navigate via the buttons below regarding your position.</p> 
        <p><h3>For HR Managers</h3>
        <a href="/hub" class="ui button">HR Manager Hub</a></p>
        <p><h3>For Applicants</h3>
        <a href="/user-hub" class="ui button">Applicant Hub</a></p>
    </div></center>
</body>
</html>