<!DOCTYPE html>
<html>
<head>
    <title>HR Manager Hub</title>    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css"> 
    <link rel="stylesheet" type="text/css" th:href="@{style.css}" />
</head>
<body>
    <center><div class="maindiv">
        <h1>HR Manager Hub</h1> 
        <p>Please select your action using the buttons below.</p> 
        <a href="/joblisting" class="ui button">Submit a job listing</a>
        <a href="/alljobs" class="ui button">View all job listings</a>   
        <a href="/allapplications" class="ui button">View all job applications</a>
    </div></center>
</body>
</html>