<!DOCTYPE html>
<html>
    <head>
        <title>Applicant Hub</title>    
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css"> 
        <link rel="stylesheet" type="text/css" th:href="@{style.css}" />
    </head>
    <body>
        <center><div class="maindiv">
            <h1>Applicant Hub</h1>  
            <p>Please select your action using the buttons below.</p> 
            <a href="/user-alljobs" class="ui button">View all job opportunities</a>
        </div></center>
    </body>
</html>