body {
background: linear-gradient(135deg, rgba(52,132,136,1) 37%, rgba(0,61,84,1) 100%);
}
.maindiv {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
  width: 800px;
  height: auto;
}